{
  "parser": "babel-eslint",
  "globals": {
    "document": false
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react"],
  "rules": {
    "arrow-parens": off,
    "implicit-arrow-linebreak": "off",
    "import/no-unresolved": [2, { "ignore": ["^@+"] }],
    "import/prefer-default-export": "off",
    "no-confusing-arrow": "off",
    "no-console": "off",
    "no-unused-vars": ["warn", { "varsIgnorePattern": "React" }],
    "object-curly-newline": off,
    "react/jsx-uses-vars": "error",
    "react/prop-types": "error",
    "react/require-default-props": [2],
    "react/sort-prop-types": [2],
    "security/detect-object-injection": off
  },
  "extends": ["react-app", "airbnb-base"]
}
