[Unit]
Description=Mesh network gateway service
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/gateway.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target