[Unit]
Description=Mesh network gateway service
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/homeAutomationStatistics/gateway/gateway.py
WorkingDirectory=/home/pi/homeAutomationStatistics/gateway
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
