[Unit]
Description=Mesh network gateway service
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/mesh-gateway/main.py
WorkingDirectory=/opt/mesh-gateway/
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
